* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Cabin', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  height: 100%;
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:hover {
    color: var(--color-text-hover);
  }
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}
