:root {
  --color-background: #181325;
  --color-text: #ccc;
  --color-text-hover: #fff;

  --color-grid: #07060b;

  --color-gray-600: #797979;

  --gradient-foxhub: linear-gradient(to left, #bd2300, #e30d6e);
  --gradient-user: linear-gradient(to top, #bd2300, #e30d6e);

  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --size-xxl: 64px;
}
